/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap'); */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}
h1  { 
    color: red;
    background: linear-gradient(
    221deg,
    rgba(15, 37, 110, 1) 0%,
    rgba(32, 178, 7, 1) 84%,
    rgba(227, 193, 25, 1) 96%
  );
  background-blend-mode: exclusion;
  animation: cssAnimation_0 678ms infinite ease-out 678ms;
}

@keyframes cssAnimation_0 {
  to {
    border: 19px dotted rgba(100, 100, 100, 1);
    border-radius: 43px;
  }
}

.text {
  font: oblique lighter 34px/1.2 "Brush Script";
  letter-spacing: 2px;
}

h2{
        border: 0px solid rgba(100, 100, 100, 1);
        border-radius: 63px;
        animation: cssAnimation_0 678ms infinite ease-out 678ms;
      }
      
      @keyframes cssAnimation_0 {
        from {
          border: 0px solid rgba(100, 100, 100, 1); border-radius: 63px;
        }
      
        to {
          border: 4px solid rgba(100, 100, 100, 1);
          border-radius: 48px;
        }
      }
      
      .text {
        transform: rotate(353deg);
        font: oblique bolder 33px/1.1 "proxima-nova";
        letter-spacing: 3px;
      }

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2f2f2f;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  gap: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.28) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(30px);
  border-radius: 20px;
  width: min(900px, 100%);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset, 0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.info {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  padding: 0 35px;
  text-align: justify;
}

.info p{
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.movie-night {
  background: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}

.btn {
  display: block;
  padding: 10px 40px;
  margin: 10px auto;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  outline: none;
  text-decoration: none;
  color: #784ba0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.btn:hover, .btn:focus, .btn:active, .btn:visited {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

@keyframes gelatine {
  
  0%, 100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/* SWIPER */

.swiper {
  width: 250px;
  height: 450px;
  padding: 50px 0;
}

.swiper-slide {
  position: relative;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.swiper-slide span {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 7px 18px;
  margin: 10px;
  border-radius: 20px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: inherit;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17), inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(74px);
}

.swiper-slide h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0 0 20px 20px;
}

.swiper-slide:nth-child(1n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://scontent.fbbi1-1.fna.fbcdn.net/v/t39.30808-6/324301877_725235099213700_697481383427023623_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=Lk9TWCVphH0AX9KqHvb&_nc_ht=scontent.fbbi1-1.fna&cb_e2o_trans=t&oh=00_AfDzOoe8WyMmbituws_fzo2KAaPPK2rO0MBmPLQPhQq-kg&oe=65970537")
      no-repeat 50% 50% / cover;
}

.swiper-slide:nth-child(2n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://scontent.fbbi1-1.fna.fbcdn.net/v/t39.30808-6/411933213_1811239299289599_5247037564468335857_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=NKCh2CfuJRUAX-oWyRD&_nc_ht=scontent.fbbi1-1.fna&cb_e2o_trans=t&oh=00_AfA9l3TrrqqDLkDyvgeCowiSW4mljzqpwL9JFPPKYT9mCg&oe=65969472")
      no-repeat 50% 50% / cover;
}

.swiper-slide:nth-child(3n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://scontent.fbbi1-2.fna.fbcdn.net/v/t39.30808-6/405191817_24247879001526095_8634419301240848908_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=_kXQudsSr24AX87g4ew&_nc_ht=scontent.fbbi1-2.fna&cb_e2o_trans=t&oh=00_AfCPQgnbJ0B5Qkgaw9bDkVz105cH2CWRnezr3e1NqzcZxA&oe=6597647C")
      no-repeat 50% 0% / cover;
}

.swiper-slide:nth-child(4n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://scontent.fbbi1-1.fna.fbcdn.net/v/t39.30808-6/410757988_1811239412622921_3551849752408775086_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=SOKcMfL-fs8AX9iMueU&_nc_oc=AQlMCKCmJFvAY9IH4wlUjRvE_4wS80VnH0e3u6rrzeFwX0JSd750rqzT5X6KYBfOnG_TpgB4sFAPpNw_buZ7YHgN&_nc_ht=scontent.fbbi1-1.fna&cb_e2o_trans=t&oh=00_AfDCGQLRNbrqUvBGyt1AU1rTbRpCx_9Qo1M_YeAki-oxlw&oe=6596911B")
      no-repeat 50% 50% / cover;
}

.swiper-slide:nth-child(5n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://scontent.fbbi1-1.fna.fbcdn.net/v/t39.30808-6/411933213_1811239299289599_5247037564468335857_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=NKCh2CfuJRUAX-oWyRD&_nc_ht=scontent.fbbi1-1.fna&cb_e2o_trans=t&oh=00_AfA9l3TrrqqDLkDyvgeCowiSW4mljzqpwL9JFPPKYT9mCg&oe=65969472")
      no-repeat 50% 50% / cover;
}

.swiper-slide:nth-child(6n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://scontent.fbbi1-1.fna.fbcdn.net/v/t39.30808-6/324851068_887363705784653_445376750387041342_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=783fdb&_nc_ohc=lKV2rdmmwiQAX9GOJ3O&_nc_ht=scontent.fbbi1-1.fna&cb_e2o_trans=t&oh=00_AfCf-U4LyI975-Qlz9nZcBWFc-_t9F1cR5WsZsOIIbH6Lw&oe=6597714E")
      no-repeat 50% 50% / cover;
}

.swiper-slide:nth-child(7n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://scontent.fbbi1-1.fna.fbcdn.net/v/t39.30808-6/410757988_1811239412622921_3551849752408775086_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=SOKcMfL-fs8AX9iMueU&_nc_oc=AQlMCKCmJFvAY9IH4wlUjRvE_4wS80VnH0e3u6rrzeFwX0JSd750rqzT5X6KYBfOnG_TpgB4sFAPpNw_buZ7YHgN&_nc_ht=scontent.fbbi1-1.fna&cb_e2o_trans=t&oh=00_AfDCGQLRNbrqUvBGyt1AU1rTbRpCx_9Qo1M_YeAki-oxlw&oe=6596911B")
      no-repeat 50% 50% / cover;
}

.swiper-slide:nth-child(8n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://scontent.fbbi1-2.fna.fbcdn.net/v/t39.30808-6/405191817_24247879001526095_8634419301240848908_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=_kXQudsSr24AX87g4ew&_nc_ht=scontent.fbbi1-2.fna&cb_e2o_trans=t&oh=00_AfCPQgnbJ0B5Qkgaw9bDkVz105cH2CWRnezr3e1NqzcZxA&oe=6597647C")
      no-repeat 50% 0% / cover;
}

.swiper-slide:nth-child(9n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://scontent.fbbi1-2.fna.fbcdn.net/v/t39.30808-6/358061336_1719132978500232_756121093793611826_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=oWsXEWWE8eoAX_h7Ih6&_nc_oc=AQmSVGCsTGVFaJSORUVsVQN5bM_HRYwodTdwzLPncMa9nVEOb8PIypdtHPKsYK7-AXNy2hxJ9IJZnV7VLsKdEIYS&_nc_ht=scontent.fbbi1-2.fna&cb_e2o_trans=t&oh=00_AfDQUj-y3OuvFFXdLQO3i7gvRcjkrHShsNXo7Qa7uL_9PQ&oe=659717D1")
      no-repeat 50% 50% / cover;
}

/* ANIMATED BACKGROUND */

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

/*
@media (max-width: 750px) {
  .content {
     flex-direction: column-reverse;
  }
  
  .btn {
    margin: 10px auto 40px;
  }
}
*/